/*variable*/
:root {
    --orange: rgb(202, 145, 23);
    --blue: rgb(45, 117, 150);
    --gradient: linear-gradient rgba(0, 0, 0, 0.4);
    
    
}

/*resets*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;

}

/*global classes*/

.text-center {
    text-align: center;
}

.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

/*custom styles*/
h1.main-header {
    margin: 20px 0 25px;
    color: var(--blue);

}

input.search{
    padding: 8px 15px;
    width: 350px;
    border-radius: 30px;
    border: 1.5px solid var(--blue);
    outline: none;
    margin-bottom: 35px;
    color: #555;

}
input.search::placeholder {
    color: var(--blue);
    text-align: center;

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-columns: repeat(4, 1fr); same thing as above line*/
    gap: 15px;
    padding: 0 3%;
}

main .movie-card {
    padding: 15px 10px;
    border: 4px solid var(--blue);
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    color: #fff;

}
main p.no-search  {
    grid-column: 1 / 5;
    color: var(--blue);
}

main .movie-card > *:not(:last-child) {
    /* Note that the forward arrow is to select a direct child*/
    /* the asterics is to select all child by adding the not method you can select to avoid last child*/
    margin-bottom: 5px;
}

main .movie-card h3 {
    font-size: 1rem;
}

main .movie-card p {
    font-size: .9rem;
}
main .movie-card a {
    color: var(--orange);
    font-size: .8rem;
    text-decoration: none;
    border-bottom: 1px dashed var(--orange);
}

/*Media Query - mobile styles*/
@media (max-width:768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}
